@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    background-color: #24252a;
}

html {
    
    color: #edf0f1;
}

.clock {
    height: 150px;
    width: 500px;
    display: grid;
    background: #24252a;
    grid-template-columns: 3fr 3fr 1fr 3fr 3fr 1fr 3fr 3fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    margin: auto;
    margin-top: 2rem;
}

.colon {
    height:auto;
    background: #24252a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    
}

.dot {
    width: 70%;
    height: 0;
    padding-bottom: 70%;
    background: #edf0f1;
    
}

.lcd-screen {
    height: auto;
    background: #24252a;
    position: relative;
}

.lcd-bar {
    background: #edf0f1;
    position: absolute;
    z-index: 2;
}

.lcd0 {
    height: 10%;
    width: 80%;
    top: 5%;
    left: 10%;
}

.lcd1 {
    height: 10%;
    width: 80%;
    top: 45%;
    left: 10%;
    background: #24252a;
}

.lcd2 {
    height: 10%;
    width: 80%;
    bottom: 5%;
    left: 10%;
}

.lcd3 {
    height: 45%;
    width: 20%;
    top: 5%;
    left: 10%;
}

.lcd4 {
    height: 45%;
    width: 20%;
    top: 5%;
    left: 70%;
}

.lcd5 {
    height: 45%;
    width: 20%;
    top: 50%;
    left: 10%;
}

.lcd6 {
    height: 45%;
    width: 20%;
    top: 50%;
    left: 70%;
}

p {
    text-decoration: none;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    
}

button {
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #edf0f1;
    font-family: 'Noto Sans JP', sans-serif;
    background: rgba(0,136,169,1);
    transition: all 0.3s ease 0s;
    border-radius: 5px;
}

button:hover {
    background: rgba(0,136,169,0.8);
}
