html {
    font-family: sans-serif;
}

.clock {
    height: 150px;
    width: 500px;
    display: grid;
    background: black;
    grid-template-columns: 3fr 3fr 1fr 3fr 3fr 1fr 3fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 10px 10px;
    margin: 2rem;
}

.colon {
    height:auto;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}

.dot {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: white;
    
}

.lcd-screen {
    height: auto;
    background: black;
    position: relative;
}

.lcd-bar {
    background: black;
    position: absolute;
    z-index: 2;
}

.lcd0 {
    height: 10%;
    width: 80%;
    top: 5%;
    left: 10%;
}

.lcd1 {
    height: 10%;
    width: 80%;
    top: 45%;
    left: 10%;
}

.lcd2 {
    height: 10%;
    width: 80%;
    bottom: 5%;
    left: 10%;
}

.lcd3 {
    height: 45%;
    width: 20%;
    top: 5%;
    left: 10%;
}

.lcd4 {
    height: 45%;
    width: 20%;
    top: 5%;
    left: 70%;
}

.lcd5 {
    height: 45%;
    width: 20%;
    top: 50%;
    left: 10%;
}

.lcd6 {
    height: 45%;
    width: 20%;
    top: 50%;
    left: 70%;
}

p {
    margin: 2rem;
}
